<header>
    <span class="lsticon" ng-click="back()"><i></i></span>
    <h2>关于我们</h2>
  </header>
  <div class="wrapper pt44">
    <div class="regardus">
      <div class="teachus">
        <h4>关于我们</h4>
        <p class="">智慧运动场是上海一家做体育，将线上和线下结合起来的一个智能APP，不用去现场就能看直播，只要你安装我们的应用。</p>
      </div>
      <div class="teachus">
        <h4>联系方式</h4>
        <p  class="">电话：<span>021-67539203</span></p>
        <p  class="">地址：上海市虹口区花园82号</p>
        <div class="pt10">
          <a href="javascript:">
            <img src="../assets/images/mapadd_03.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
